repos:
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
    - id: isort

  - repo: https://github.com/rtts/djhtml
    rev: '3.0.10'
    hooks:
      - id: djhtml
      - id: djcss
      - id: djjs
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black