repos:
  - repo: https://github.com/rtts/djhtml
    rev: '3.0.10'
    hooks:
      - id: djhtml
      - id: djcss
      - id: djjs
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black